div#divboard {
  margin-top: 50px;
  margin-left: 200px;
  float: left;
}

div#right {
  margin-top: 50px;
  margin-left: 100px;
  float: left; 
}

div#divchat {
  margin-top: 50px;
}

div#result {
  font-family: Veranda;
  font-size: 30px;
  color: red;
  
  margin-top: 30px;
  text-align: center;
}

div#piececolor {
  text-align: center;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 60px;
}

div#quitgame {
  text-align: center;
  margin-top: 30px;
}

fieldset.chatfield {
  border: 1px #CCCCCC solid;
}

fieldset.chatfield legend {
  font-size: 20px;
  font-weight: 600;
}

fieldset.gamefield {
  border: 1px #CCCCCC solid;
}

fieldset.gamefield legend {
  font-size: 30px;
  font-family: "Arial";
  color: #777777;
}

#quitbutton {
  font-size:14px;
  font-family: Helevetica;
  text-align:left;
  color:#FFFFFF;
  width:200px;
  height:70px;
  background-color:#999999;
  border-top-style:solid;
  border-top-color:#999999;
  border-top-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#999999;
  border-bottom-width:1px;
  border-left-style:solid;
  border-left-color:#AAAAAA;
  border-left-width:6px;
  border-right-style:solid;
  border-right-color:#BBBBBB;
  border-right-width:6px;
}